.idea/*
builds/dev/css/*
builds/dev/js/*
builds/dev/img/*
builds/dev/*.html
builds/dist/sitemap.xml
.DS_Store
node_modules
.tmp
.sass-cache
config.js
index.html
manifest.json
robots.txt
sw.js
css/
js/
img/
