/* All other Sass style sheets are imported here. You can add as many
as makes sense for your project as long as you follow the 
naming convention "_filename.scss". They will be concantenated, compiled 
to CSS3 and linted for the dev build and minified with comments removed 
for the dist build */

@import "normalize";
@import "grid";
@import "variables";
@import "mixins";
//mobile styles
.sr-only {
    display: none;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: $color5;
    header,
    footer {
        width: 100%;
        background: $color3;
        color: $color1;
        font-size: 2rem;
        img {
            padding: 10px 25px;
            cursor: pointer;
        }
    }
    header {
        span {
            position: relative;
            z-index: 10;
            padding: 10px;
            line-height: 2;
            cursor: pointer;
            &:nth-of-type(2) {
                z-index: 0;
                left: -22%;
                top: 1rem;
                font: 1.5rem/1 italic $font1;
            }
        }
        img {
            float: right;
        }
    }
    main {
        color: $color2;
        font: 1.25rem/1 $font1;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        .game-stats {
            padding-left: 5%;
            padding-left: 5vw;
        }
        .wrapper {
            margin: auto;
            margin-top: 30px;
            width: 80%;
            width: 80vw;
            height: 80vw;
            padding: 4vw 7vw 7vw 4vw;
            background-color: $color4;
            border-radius: 10px;
            box-shadow: 2px 4px 18px $color2;
        }
        #container {
            border: 4px inset $color6;
            width: 100%;
            height: 100%;
            background-color: $color1;
        }
        .box {
            box-sizing: border-box;
            border: 2px outset $color6;
            display: inline-block;
            width: 25%;
            height: 25%;
            cursor: pointer;
            text-align: center;
            padding-top: 12px;
            font: bold 2rem/1.5 $font1;
        }
        #null {
            background-color: $color6;
            border: 2px solid $color6;
            box-shadow: inset 2px 2px 15px $color2;
        }
    }
    footer {
        position: fixed;
        bottom: 0;
        img {
            &:nth-of-type(2) {
                position: relative;
                left: 50%;
                transform: translateX(-165%);
            }
            &:nth-of-type(3) {
                float: right;
            }
        }
    }
    .instructions {
        top: 0;
        @include overlay;
        //#instructions
        p {
            width: 80%;
            margin-left: 10%;
            font: 1.5rem/1 $font1;
        }
        img {
            width: 60%;
            margin: 1rem 20% 0 20%;
        }
        button {
            @include button;
        }
    }
    .close-instructions {
        top: -100vh;
    }
    .you-win,
    .your-name {
        top: -100vh;
        @include overlay;
        div {
            color: $color1;
            font: bold 7.594rem/1.5 $font1;
            margin-bottom: 3.375rem;
        }
        form {
            font: 3.375rem/1 $font1;
            padding-top: 2.25rem;
        }
        input {
            margin-top: 1.5rem;
        }
        input[type="text"] {
            width: 80%;
            text-align: center;
            font-weight: bold;
        }
        input[type="button"] {
            @include button;
        }
    }
    .time-score-board,
    .moves-score-board {
        top: -100vh;
        @include overlay;
        overflow: scroll;
        img {
            @include exit; 
        }
        h2 {
            font-size: 2.25rem;
        }
        div {
            width: 90%;
            margin: .5rem 5%;
            padding: .25rem 0;
            background: $color4;
            border: 1px outset $color4;
        }
        span {
            color: $color1;
            font: bold 2.25rem/1.5 $font1;
            margin-bottom: .25rem;
            padding: 0 5%;
        }
        .latest {
            width: 100%;
            margin: 0;
            background: $color5;
            span {
                font-size: 3.375rem;
                padding: 2.5%;
            }
        }
    }
    .info {
        top: 100vh;
        @include overlay;
        img {
            @include exit;
        }
        p {
            width: 95%;
            margin: .5rem 2.5%;
            font-size: 1.1rem;
        }
        form {
            text-align: left;
            font-size: 1.5rem;
        }
        label, input, select, option {
            width: 90%;
            margin: .5rem 5%;
        }
        label {
            font-size: 1rem;
        }
        input[type="reset"] {
            @include button;
            font-size: 1rem;
            border: none;
        }
        input[type="submit"] {
            @include button;
            float: right;
        }
        span {
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            a {
                font: bold 1.5rem/1 $font1;
                color: $color5;
            }
        }
    }
    .open {
        top: 0;
    }
}

//tablet styles
@media only screen and (min-width: 768px) {
    html {}
    body {
        header {
            nav {}
        }
        main {}
        footer {}
    }
}

//notebook styles
@media only screen and (min-width: 960px) {
    html {}
    body {
        header {
            nav {}
        }
        main {}
        footer {}
    }
}

//large screen styles
@media only screen and (min-width: 1140px) {
    html {}
    body {
        header {
            nav {}
        }
        main {}
        footer {}
    }
}
